<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965187940919-38eo0u785109ktmp29p6nled0auadtm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965187940919-38eo0u785109ktmp29p6nled0auadtm5</string>
	<key>API_KEY</key>
	<string>AIzaSyClfhC0fwmcC4S8KjLeClzanm5yltL4suo</string>
	<key>GCM_SENDER_ID</key>
	<string>965187940919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacklist</string>
	<key>PROJECT_ID</key>
	<string>blacklist-6a809</string>
	<key>STORAGE_BUCKET</key>
	<string>blacklist-6a809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965187940919:ios:f51083a9b6509e402385b2</string>
	<key>DATABASE_URL</key>
	<string>https://blacklist-6a809-default-rtdb.firebaseio.com</string>
</dict>
</plist>